*{
    margin: 0;
}
body{
    margin-top: 1%;
}

/* Fonts start */
.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  /* Fonts End */

        /* Colors Start */
        .orang{
            color: #FEA301;
        }
        .sky-blue{
            color: #01ACFD;
        }
        .aqua-blue{
            color: #05D4DF;
        }
        .purple{
            color: #5D58EF;
        }
  
        /* Colors End */
        
        /* Shared style start */
        .primary-btn{
            font-size: 1.6rem;
            padding: 16px 60px;
            color: white;
            border: 0;
            border-radius: 12px;
        }
        .section-title{
            font-size: 3.7rem;
            text-align: center;
            font-weight: bold;
            color: black;
        }
        .card-subtitle{
            color: #808080;
            font-size: 1.2rem;
            font-weight: 500;
        }
        /* Shared style End */


        .border{
            border: 1px solid red;
        }





        /* Navigation bar start */
.logo-container,
.nav-center-container ul,
nav
{
    display: flex;
}
header{
    margin: 0 auto;
    max-width: 1505px;
}
nav{
    justify-content: space-between;
    align-items: center;
}
.logo-container{
    align-items: center;
}
.logo-container >div{
    display: flex;
    align-items: center;
}
.logo-container img{
    margin-right: 14px;
   width: 100%;
}
.logo-text{
    font-size: 2.6rem;
    font-weight: bold;
}
.nav-center-container li{
    padding-right:32px;
    list-style: none;
}
.home-text, .about-text, .facilities-text, .admission-text{
    font-size: 1.3rem;
    font-weight: 500;
    text-decoration: none;
}
.home-text{
    font-weight: bold;
}
.contact-btn{
    background-color: #FEA301;
}
.fa-bars{
    display: none;
}
/* Navigation bar End */



/* Banner Section Start */

.banner-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1505px;
}
.banner-text-container{
    
    max-width: 832px;
}
.banner-title{
    font-size: 4.6rem;
    
}
.banner-subtitle{
    margin: 31px 0;
    color: black;
    font-size: 1.6rem;
}

/* .banner-img-container{
    width: 100%;
} */
.enroll-now-btn{
    background-color: black;
}
/* .banner-img-container img{
    width: 100%;
} */
/* Banner Section End */



/* Curriculum Section Start */
.curriculum-section-bg{
    background-image: url(assets/bg.png);
    background-size: 100%;
}
.curriculum-section{
    margin: 0 auto;
    max-width: 1505px;
}
.curriculum-section-title{
    padding-top: 78px;
    margin-bottom: 104px;
}
.curriculum-card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 36px;
}
.curriculum-card{
    text-align: center;
    border-radius: 18px;
    padding-bottom: 68px;
}
.linear1{
    background-image: linear-gradient(#DEF5FF, white, white, white, white);
    border: 1px solid #DEF5FF;
}
.linear2{
    background-image: linear-gradient(#FFF4DC, white, white, white, white);
    border: 1px solid #FFF4DC;
}
.linear3{
    background-image: linear-gradient(#F2E8FF, white, white, white, white);
    border: 1px solid #F2E8FF;
}
.curriculum-card-img2, .curriculum-card-img3{
    margin-top: 67px;
    margin-bottom: 42px;
}
.curriculum-card-img{
    margin-top: 59px;
    margin-bottom: 38px;
}
/* .curriculum-card{
    margin-bottom: 40px;
} */
.curriculum-card-text-container{
    text-align: center;
}
.curriculum-card-title{
    color: black;
    font-size: 2rem;
    font-weight: bold;
}
.read-more-1, .read-more-2, .read-more-3{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
}
.curriculum-card-subtitle{
    margin: 43px 0;
}


.arrow{
    margin-top: 104px;
    display: flex;
    justify-content: center;
}
.fa-greater-than{
    margin-right: 10px;
    font-size: 2rem;
    padding: 15px 15px 15px 20px;
    border-radius: 50%;
    color: white;
    background-color: #FEA301;
}
.fa-less-than{
    margin-right: 10px;
    font-size: 2rem;
    padding: 15px 20px 15px 15px;
    border-radius: 50%;
    color: white;
    background-color: #FEA301;
}
/* Curriculum Section End */





/* Stories Section Start */
.stories-section-bg{
    background-image: url(assets/bg.png), linear-gradient(white 5%, rgba(254, 161, 1, .3));
    padding-bottom: 78px;
}
.stories-title{
    margin-top: 156px;
    margin-bottom: 104px;
}
.stories-card-container{
    margin: 0 auto;
    max-width: 1505px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
}
.stories-bigcard{
    background-color: white;
    border-radius: 16px;
}
.stories-card-container img{
    width: 100%;
    border-radius: 16px 16px 0 0;
}
.stories-bigcard > div{
    /* position: relative; */
}
.stories-bigcard-relative{
    position: relative;
    bottom: 32px;
    left: 55px;
    color: white;
    background-color: #05D4DF;
    border: 0;
    border-radius: 48px;
    font-size: 1.2rem;
    font-weight: 500px;
    padding: 19px 25px;
}
 .stories-smallcard-relative1{
    position: relative;
    left: 35px;
    top: -30px;
    color: white;
    background-color: #95B226;
    border: 0;
    border-radius: 48px;
    font-size: 1.2rem;
    font-weight: 500px;
    padding: 17px 20px;
}
.stories-smallcard-relative2{
    position: relative;
    left: 35px;
    top: -30px;
    color: white;
    background-color: #5D58F0;
    border: 0;
    border-radius: 48px;
    font-size: 1.2rem;
    font-weight: 500px;
    padding: 17px 20px;
}
.stories-smallcard-relative3{
    position: relative;
    left: 35px;
    top: -30px;
    color: white;
    background-color: #95B226;
    border: 0;
    border-radius: 48px;
    font-size: 1.2rem;
    font-weight: 500px;
    padding: 17px 20px;
}
.stories-smallcard-relative4{
    position: relative;
    left: 35px;
    top: -30px;
    color: white;
    background-color: #95B226;
    border: 0;
    border-radius: 48px;
    font-size: 1.2rem;
    font-weight: 500px;
    padding: 17px 55px;
    
} 
.stories-small-card-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* position: relative; */
    column-gap: 24px;
    row-gap: 24px;
    border-radius: 16px;
}

.stories-bigcard-title{
    margin-top: 30px;
    margin-bottom: 51px;
    padding-left: 50px;
    max-width: 522px;
}
.stories-bigcard-subtitle{
    margin-bottom: 38px;
    padding-left: 50px;
    max-width: 562px;
}
.stories-small-card{
    background-color: white;
    border-radius: 16px;
}
.stories-small-title{
    padding-left: 48px;
    margin-top: 36px;
    margin-bottom: 36px;
    max-width: 257px;
    color: black;
    font-size: 1.3rem;
}
.view-all-btn{
    display: flex;
    justify-content: center;
    margin-top: 104px;
}

.hide{
    display: none;
}
/* Stories Section End */



/* Footer Section Start */
footer{
    background-color: #01ACFD;
    padding-top: 160px;
    padding-bottom: 226px;
}
.footer-section{
    margin: 0 auto;
    max-width: 1505px;
    display: grid;
    grid-template-columns: 50% 25% 25%;
}
.footer-section div > div{
    display: flex;
    align-items: center;
}
.footer-section div  div > img{
    width: 20%;
}
.eduation-title{
    color: white;
    line-height: 45px;
    font-size: 3.4rem;
}
.education-subtitle{
    color: white;
    font-size: 1.6rem;
    font-weight: 400;
    max-width: 518px;
    margin-top: 45px;
}
/* .about{
    display: flex;
    flex-direction: column;
    align-items: center;
} */
.about h3{
    color: white;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 41px;
}
.about ul{
    list-style-position: outside;
    margin: 0;
    padding: 0;
}
.about li{
    color: white;
    list-style: none;
    font-size: 1.6rem;
    font-weight: 400;
    padding-bottom: 26px;
}
.keep-touch h3{
    color: white;
    font-size: 2.1rem;
    margin-bottom: 32px;
}
/* Footer Section End */

























@media screen and (max-width:576px) {
    /* Navigation Responsive Start */
    nav{
        border-bottom: 1px solid orange;
        justify-content: space-between;
    }
    .logo-text{
        display: none;
    }
    .nav-center-container{
        display: none;
    }
    .contact-btn{
        display: none;
    }
    .fa-bars{
        font-size: 30px;
        display: inline;
    }
    nav{
        margin: 0 2%;
    }    
    .logo-container img{
        width: 70%;
        margin-bottom: 12px;
        margin-top: 5px;
    }
    /* Navigation Responsive End */
    


    /* Banner Responsive Start */
    .banner-section{
        flex-direction: column-reverse;
    }
    .banner-img-container{
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .banner-img-container img{
        width: 90%;
    }
    .banner-text-container{
        text-align: center;
    }
    .banner-title{
        font-size: 2.6rem;
        margin-top: 20px;
    }
    .banner-subtitle{
        text-align: center;
        font-size: 1.2rem;
    }
    /* Banner Responsive End */



    /* Curriculum Responsive Start */
    .curriculum-section-bg{
        background-size: 300%;
        background-position: 50px 20px;
    }
    .curriculum-card-container{
        grid-template-columns: 1fr;
        padding: 2%;
    }
    .curriculum-section-title{
        margin-bottom: 20px;
        font-size: 2.4rem;
    }
    /* Curriculum Responsive End */



    /* Stories Responsive Start */
    .stories-card-container{
        display: block;
    }
    .stories-bigcard{
        display: none;
    }
     .stories-small-card-container{
        grid-template-columns: repeat(2, 1fr);
        padding: 1%;
    }
    
    .stories-small-title{
        padding-left: 3px;
    }

    /* relative */
    .stories-smallcard-relative1 {
        left: 5px;
        font-size: .7rem;
    }
     .stories-smallcard-relative2{
        left: 5px;
        font-size: .7rem;
    }
    .stories-smallcard-relative3{
        left: 5px;
        font-size: .7rem;
    }
    .stories-smallcard-relative4{
        left: 5px;
        font-size: .7rem;
        padding: 17px 45px;
        
    }  
    .stories-small-title{
        margin-top: 0px;
        margin-bottom: 16px;
    }

    .hide{
        display: block;
    }
    /* Stories Responsive End */

    /* Footer Responsive Start */
    .footer-section{
        margin: 0 5%;
        grid-template-columns: 1fr;
    }
    .about{
        margin-top: 41px;
    }
    /* Footer Responsive End */
}
